<html lang="ru">
<head>
    <script src="../../assets/js/sender.js"></script>
</head>
<body>
    <div class="row">
        <div zippy="widgetMenu"></div>
    </div>
    <div class="row">
        <div class="col-9">
            <form zippy="totalWorkForm">
                <p class="h6">Общее количество работ</p>
                <a zippy="prev" class="btn btn-primary">Пред</a>
                <a zippy="next" class="btn btn-primary">След</a>

                <div class="form-group">
                    <div zippy="tableModelComponent"></div>
                </div>
                <p class="h6">Список сотрудников в работе данной модели</p>
                <div class="form-group">
                    <div zippy="tableMasterComponent"></div>
                </div>
            </form>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Монитор происшествий
                </div>
                <div class="card-body" style="height: 200px; overflow-y: scroll;">
                    <p class="card-text">
                        С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.
                    </p>
                    <!--<p class="card-text">-->
                        <!--С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at beatae, cum, earum facere id ipsa itaque-->
                        <!--laboriosam minus modi nam necessitatibus quam rem similique, tempore ullam veniam. Ea, est?-->
                    <!--</p>-->
                </div>
            </div>
            <div class="row my-2">
                <button class="btn btn-primary">Производство данной модели выполнено</button>
            </div>
            <div class="row">
                <button class="btn btn-primary">Завершить производство</button>
            </div>
        </div>
    </div>
</body>
</html>