<html lang="ru">
<head>
    <link rel="stylesheet" href="../../assets/css/model.css">
    <script src="../../assets/js/popup.js"></script>
</head>
<body>


<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#warnModal" id="msg" style="position: absolute;left: -99999px;top: -99999px;">
    
</button>

<!-- Модальное окно -->
<div class="modal fade" id="warnModal" tabindex="-1" aria-labelledby="warnModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warnModalLabel">Предупреждение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <!-- <button type="button" class="btn btn-primary">Сохранить изменения</button> -->
            </div>
        </div>
    </div>
</div>

<div zippy="message"></div>

    <h2>Заказы для мастеров</h2>
    <div class="row">
        <div class="col-4">
            <form zippy="masterForm">
                <div class="form-group">
                    <!--<label for="workType">Виды работ</label>-->
                    <div style="position: relative;">
                        <i class="fa fa-bars" aria-hidden="true" style="position: absolute; top: 11px; left: 5px;"></i>
                        <select class="form-control" zippy="workTypeMaster" style="padding-left: 25px; width: 50%;">
                            <option value="-1">Не выбран</option>
                        </select>

                    </div>
                </div>
            </form>
            <div zippy="panelModelMaster">
                <div zippy="listWorkMaster">
                    <a zippy="modelName" class="btn btn-outline-secondary model" style="margin: 5px 0;"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div zippy="modelNameSize" class="h3" style="margin: 0 0 0 10px;"></div>
    </div>

    <div class="row">
        <div class="col-8">
            <form zippy="tableWorkForm">
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="col">Размерный ряд</th>
                        <th scope="col">Количество выполненных</th>
                        <th scope="col">Количество всего работ</th>
                        <th scope="col">Количество остаток</th>
                        <th scope="col"></th>
                    </tr>
                    <tr zippy="listWorkModelMaster" class="model-master">
                        <td><span zippy="itemSizeModel"></span></td>
                        <td>
                            <input zippy="itemCountModel" type="number" min="0"/>
                        </td>
                        <td><span zippy="itemTotalModel"></span></td>
                        <td><span zippy="itemRemainModel"></span></td>
                        <td><a zippy="itemEditDefect">
                            <img src="../../assets/images/defect2.png" alt="брак" title="брак">
                        </a></td>
                    </tr>
                </table>
                <div class="form-group">
                    <input zippy="saveSizeCount" type="submit" value="Подтвердить" class="btn btn-outline-primary">
                    <input zippy="saveFinishModel" type="submit" value="Закончить выполнение модели" class="btn btn-outline-primary">
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <form zippy="defectForm">
                <!--<div zippy="modelNameSize2" class="h3" style="margin: 10px 0;"></div>-->
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="col">Размерный ряд</th>
                        <th scope="col">Выбрать описание брака</th>
                        <th scope="col"></th>
                    </tr>
                    <tr zippy="listDefectModel">
                        <td><span zippy="defectSize"></span></td>
                        <td><span zippy="defectDescribe"></span></td>
                        <td>
                            <input type="checkbox" zippy="defectSelect" class="form-check-input"/>
                        </td>
                    </tr>
                </table>
                <div class="form-group">
                    <textarea zippy="defectInfo" rows="5" style="width: 100%;" placeholder="Дополнительная информация"></textarea>
                </div>
                <div class="form-group">
                    <input zippy="saveDefectModel" type="submit" value="Подтвердить" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form zippy="finishModelForm">
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="col">Размерный ряд</th>
                        <th scope="col">Подтверждение выполнения модели</th>
                    </tr>
                    <tr>
                        <td><span zippy="itemSizeRange"></span></td>
                        <td><span zippy="itemConfirm"></span></td>
                    </tr>
                </table>
                <div class="form-group">
                    <input zippy="saveConfirmModel" type="submit" value="Подтвердить" class="btn btn-outline-primary">
                    <input zippy="cancelConfirmModel" type="submit" value="Отменить" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>

    <script>
      window.onload = function () {
          (function (){
            let msg = document.querySelector('#message');
            let attr = msg.getAttribute('data-msg');
            if(attr != "" && attr != null && attr != false){
              $('.modal-title').text("Инфо");
              $('.modal-body').html(attr);// .text(txt);
              $('#msg').click();
              // msg.removeAttribute('data-msg');
            }
          })();
      }
    </script>
</body>
</html>