<html lang="ru">
<head>
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">-->
    <link rel="stylesheet" href="../../assets/css/model.css">
</head>
<body>
<div class="row">
    <div zippy="widgetMenu"></div>
</div>
<div id="detailProductionShow"></div>
<div zippy="detailProductionDefect" class="alert alert-dark alert-dismissible fade show" role="alert">
    <strong zippy="detailDefect"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row">
    <div class="col-12">
        <div zippy="detailProduction" class="detailProduction">
            <div zippy="list" style="margin: 5px 0;">
                <a zippy="modelName" class="btn btn-outline-secondary model"></a>
                <a zippy="modelWork" class="btn btn-outline-secondary">В работу</a>
                <a zippy="modelUpdate" class="btn btn-outline-secondary">Обновить</a>
                <a zippy="modelCancel" class="btn btn-outline-secondary">Отменить</a>
            </div>
        </div>
    </div>
</div>
<div id="model"></div>

<div class="navbar nav">

    <form zippy="filterwork" class="form-inline">

        <label for="searchkeywork">Поиск</label>
        <input class="form-control mr-2" type="text" zippy="searchkeywork" onkeydown="onSearch()">
        <label for="searchcatwork"> производ. участок</label>

        <select class="form-control mr-2" zippy="searchcatwork">
            <option value="0">Не задана</option>
        </select>

        <div class="form-check">

            <input title="Показать неактуальные" class="form-check-input" type="checkbox" zippy="showdiswork">
            <label class="form-check-label mr-3" for="showdiswork">Показать выбранные</label>
        </div>

        <input class="btn btn-outline-success  " type="submit" value="ОК">

    </form>
</div>

<div class="row">
    <form zippy="worktable" class="col-12 col-md-10 col-lg-8">
        <h3>Список работ</h3>
        <table class="table table-hover   table-sm">
            <tr>
                <th>Работа</th>
                <th>Выбрать</th>
                <th>В работе</th>
                <th></th>
            </tr>
            <tr zippy="worklist">
                <td zippy="work_name"></td>
                <td><a zippy="work_select">выбрать работника</a></td>
                <td zippy="work_master"></td>
<!--                <td style="width:52px"><a zippy="edit" title="Редактирование"><i class="fa fa-edit"></i></a> <a-->
<!--                        zippy="delete" title="Удалить"><i class="fa fa-trash"></i></a></td>-->
            </tr>
        </table>
        <div zippy="pagwork"></div>
        <div class="form-group">
            <input zippy="saveProduct" type="submit" value="В производство" class="btn btn-outline-primary">
            <input zippy="cancelProduct" type="submit" value="Отменить" class="btn btn-outline-primary">
        </div>
    </form>
</div>


<div class="navbar nav">

    <form zippy="filteremp" class="form-inline">

        <label for="searchkeyemp">Поиск</label>
        <input class="form-control mr-2" type="text" zippy="searchkeyemp" onkeydown="onSearch()">

        <div class="form-check">

            <input title="Показать неактуальные" class="form-check-input" type="checkbox" zippy="showdisemp">
            <label class="form-check-label mr-3" for="showdisemp">Показать выбранные</label>
        </div>

        <input class="btn btn-outline-success  " type="submit" value="ОК">

    </form>
</div>

<div class="row">
    <form zippy="employeetable" class="col-12 col-md-10 col-lg-8">
        <h3 zippy="employeework"></h3>

        <table class="table table-hover table-sm table-striped">
            <tr>
                <th>Работник</th>
                <th>Логин</th>
                <th>Выбрать</th>

                <th></th>
            </tr>
            <tr zippy="employeelist">
                <td zippy="emp_name"></td>
                <td zippy="emp_login"></td>
                <td>
                    <div class="form-check">
                        <input zippy="emp_select" type="checkbox" class="form-check-input"/>
                    </div>
                </td>

<!--                <td style="width:52px"><a zippy="edit" title="Редактирование"><i class="fa fa-edit"></i></a> <a-->
<!--                        zippy="delete" title="Удалить"><i class="fa fa-trash"></i></a></td>-->
            </tr>
        </table>
        <div zippy="pagemp"></div>
        <div class="form-group">
            <input zippy="save" type="submit" value="Сохранить" class="btn btn-outline-primary">
            <input zippy="cancel" type="submit" value="Отменить" class="btn btn-outline-primary"/>
        </div>
    </form>
</div>

<div class="row">
    <form zippy="addWorkEmp" class="col-6 col-md-8 col-lg-4">
        <div class="form-group">
            <h3 zippy="displaymodel"></h3>
        </div>
        <div class="form-group">
            <label for="addwork" class="h4">Вид работы</label>
            <select class="form-control" zippy="addwork">
                <option value="0">Не выбран</option>
            </select>
        </div>
        <div class="form-group">
            <label for="addemployee" class="h4">Список работников</label>
            <select class="form-control" zippy="addemployee">
                <option value="0">Не выбран</option>
            </select>
        </div>
        <div class="form-group">
            <!--<input zippy="addnewwork" type="submit" value="Добавить" class="btn btn-outline-primary">-->
            <input zippy="savenewwork" type="submit" value="Сохранить" class="btn btn-outline-primary">
            <input zippy="cancelnewwork" type="submit" value="Отменить" class="btn btn-outline-primary"/>
        </div>
    </form>
</div>

<div class="row">
    <form zippy="updateDefectForm" class="col-6 col-md-8 col-lg-4">
        <div class="form-group">
            <h3 zippy="showdefectmodel"></h3>
        </div>
        <div class="form-check">
            <input type="checkbox" zippy="checkUpdate" class="form-check-input"/>
            <label for="checkUpdate">Обновить брак с учетом склада</label>
        </div>
        <div class="form-group">
            <input zippy="saveUpdate" type="submit" value="Сохранить" class="btn btn-outline-primary">
            <input zippy="cancelUpdate" type="submit" value="Отменить" class="btn btn-outline-primary"/>
        </div>
    </form>
</div>

<script>
    window.onload = function () {

    }
</script>

</body>
</html>