<html lang="ru">
<head>
    <link rel="stylesheet" href="../../assets/css/model.css">
</head>
<body>
    <div class="row">
        <div class="col-12">
            <div zippy="panelButton">
                <a zippy="showProduction" class="btn btn-outline-primary">Заказ на производство</a>
                <a zippy="showWork" class="btn btn-outline-primary">В работе</a>
                <a zippy="showStore" class="btn btn-outline-primary">Остатки на складе</a>
                <a zippy="showCustomer" class="btn btn-outline-primary">Поставщики</a>
                <a zippy="showDirector" class="btn btn-outline-primary">Директор</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div zippy="detailProduction" class="detailProduction">
                <div zippy="list">
                    <a zippy="modelName" class="btn btn-outline-secondary model"></a>
                    <a zippy="modelWork" class="btn btn-outline-secondary">В работу</a>
                    <a zippy="modelUpdate" class="btn btn-outline-secondary">Обновить</a>
                    <a zippy="modelCancel" class="btn btn-outline-secondary">Отменить</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>