<html>
<head>
    <script src="../../assets/js/popup.js"></script>
</head>
<body>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="msg" style="position: absolute;left: -99999px;top: -99999px;">

    </button>

    <!-- Модальное окно -->
    <span zippy="showModal"></span>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Предупреждение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-8">
        <form zippy="supplierForm">
            <div class="form-group">
                <table class="table table-hover  table-sm table-striped">
                    <tr>
                        <th onclick=" $('.seldel').prop('checked', $('.seldel').prop('checked') == false);"
                            style="width:30px;cursor:pointer" title="Снять/выставить флажки"><i
                                class="fa fa-check-double "></i></th>
                        <th>Наименование товара</th>
                        <th>Количество</th>
                        <th></th>
                    </tr>
                    <tr zippy="supplierlist">
                        <td>
                            <input  zippy="seldel" class="seldel" type="checkbox">
                        </td>
                        <td zippy="suppliername"></td>
                        <td zippy="supplierquantity"></td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" zippy="supplierinfo" class="btn btn-outline-primary" value="Инфо">
                <input type="submit" zippy="suppliermsg" class="btn btn-outline-primary" value="Оставить предложение">
            </div>
        </form>
    </div>
    <div class="col-3">
        <div zippy="panelInfo" class="form-group">
            <textarea zippy="displayInfo" class="form-control" placeholder="Информация отсутствует" readonly rows="5"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div zippy="panelData">
            <div style="margin: 10px 0;">
                <button zippy="suppliertemplate" class="btn btn-outline-primary form-control">Загрузить шаблон</button>
            </div>
            <div class="form-group">
                <form zippy="supplierProps">
                    <div class="form-group">
                    <textarea zippy="supplieranswer" placeholder="оставить предложение" class="form-control" rows="10">

                    </textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" zippy="suppliersend" class="btn btn-primary" value="Отправить">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>