<html>
<body>
<div class="col-12">
    <form zippy="panelButton">
        <a zippy="showProduction" class="btn btn-outline-primary">Заказ на производство</a>
        <a zippy="showWork" class="btn btn-outline-primary">Контроль производства</a>
        <a zippy="showStore" class="btn btn-outline-primary">Остатки на складе</a>
        <a zippy="showCustomer" class="btn btn-outline-primary">Поставщики</a>
        <a zippy="showDirector" class="btn btn-outline-primary">Директор</a>
    </form>
</div>
</body>
</html>